[Desktop Entry]
Type=Application
Version=1.0
Name=Woofer
GenericName=Music Player
Comment=A fast, native Spotify client
Exec=woofer
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=spotify;music;player;streaming;
Icon=woofer
StartupNotify=true
StartupWMClass=woofer
MimeType=x-scheme-handler/spotify;
